.image{
	/*display: flex;
	justify-content: center;*/
	float: right;
    height: -100px;

}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	width:  28%;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 15px 20px;
	text-decoration: none;
}

.active{
	background-color: #04AA6D;
}